<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Dictionary_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create and print a dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print(mydict)

{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}

**Print the "brand" value of the dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print(mydict["model"])

sports

**Duplicate values will overwrite existing values**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "year" : 2017,
    "year" : 2021,
}
print(mydict)

{'name': 'Ford', 'model': 'sports', 'milage': 356, 'year': 2021}

**Print the number of items in the dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print(len(mydict))

5

**String, int, boolean, and list data types**

In [ ]:
mydict = {
    "name":"aston martin",
    "electric":True,
    "year":2021,
    "designer":["kk karuppu","matta bala","kokki kumar"]
}
print(mydict)

{'name': 'aston martin', 'electric': True, 'year': 2021, 'designer': ['kk karuppu', 'matta bala', 'kokki kumar']}

**Print the data type of a dictionary**

In [ ]:
mydict = {
    "name":"aston martin",
    "electric":True,
    "year":2021,
    "designer":["kk karuppu","matta bala","kokki kumar"]
}
print(type(mydict))
print(type(mydict['name']))
print(type(mydict['year']))

<class 'dict'>
<class 'str'>
<class 'int'>

**Add a new item to the original dictionary, and see that the keys list gets updated**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
x = mydict.keys()
print("before the change: ",x)
mydict["door"] = 2
print("after the change: ",x)

before the change  dict_keys(['name', 'model', 'milage', 'type', 'cost'])
after the change dict_keys(['name', 'model', 'milage', 'type', 'cost', 'door'])

**Make a change in the original dictionary, and see that the values list gets updated**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print("before the change: ",mydict)
mydict['name'] = "Aston Martin"
print("before the change: ",mydict)

{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}
{'name': 'Aston Martin', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}

**Make a change in the original dictionary, and see that the items list gets updated**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
x = mydict.items()
print(x)
mydict['name'] = "aston martin"
print(x)

dict_items([('name', 'Ford'), ('model', 'sports'), ('milage', 356), ('type', 'diesel'), ('cost', '20000$')])
dict_items([('name', 'aston martin'), ('model', 'sports'), ('milage', 356), ('type', 'diesel'), ('cost', '20000$')])

**Check if "model" is present in the dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
if "model" in mydict:
    print("yes model is present in my dict")

yes model is present in my dict

**Change the "milage" to 123**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
mydict["milage"] = 123
print(mydict["milage"])

123

**Update the "year" of the car by using the update()**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
mydict.update({"cost":"13427$"})
mydict.update({"model":"classic"})
print(mydict["cost"])
print(mydict["model"])

13427$
classic

**Adding an item to the dictionary is done by using a new index key and assigning a value to it**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print(mydict)
mydict["new one"] = "hello"
print(mydict)

{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}
{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$', 'new one': 'hello'}

**Adding an item to the dictionary is done by using a new index key and assigning a value to it**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print(mydict)
mydict.update({"name":"tesla"})
print(mydict)

{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}
{'name': 'tesla', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}

**pop() method removes the item with the specified key name**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print(mydict)
mydict.pop("name")
print(mydict)

{'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}

**del keyword removes the item with the specified key name**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
print(mydict)
del mydict["cost"]
print(mydict)

{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}
{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel'}

**del keyword can also delete the dictionary completely**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
del mydict
print(mydict)

{'name': 'Ford', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}

NameError: ignored

**clear() method empties the dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
mydict.clear()
print(mydict)

{}

**Print all key names in the dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
for index in mydict:
    print(index)

name
model
milage
type
cost

**Print all values in the dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
for index in mydict:
    print(mydict[index])

Ford
sports
356
diesel
20000$

**use the values() method to return values of a dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
for i in mydict.values():
    print(i)

Ford
sports
356
diesel
20000$

**keys() method to return the keys of a dictionary**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
for i in mydict.keys():
    print(i)

name
model
milage
type
cost

**Loop through both keys and values, by using the items()**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
for x,y in mydict.items():
    print(x,y)

name Ford
model sports
milage 356
type diesel
cost 20000$

**Make a copy of a dictionary with the copy() method**

In [ ]:
mydict = {
    "name" : "Ford",
    "model" : "sports",
    "milage" : 356,
    "type" : "diesel",
    "cost" : "20000$",
}
newdict = mydict.copy()
newdict.update({"name":"Tesla"})
print(newdict)

{'name': 'Tesla', 'model': 'sports', 'milage': 356, 'type': 'diesel', 'cost': '20000$'}

In [ ]:
keys_list = ["a", "b"]
values_list = [1, 2]

#Get pairs of elements
zip_iterator = zip(keys_list, values_list)
#Convert to dictionary
a_dictionary = dict(zip_iterator)

print(a_dictionary)