<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Exercise_List_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Basics**

In [ ]:
Basic_list = ["person1","person2","person3","person4"]
print(Basic_list)

['person1', 'person2', 'person3', 'person4']

**Create and print**

In [ ]:
Mylist=["gaurav","prahadeesh","kishor"]
print(Mylist)

**List is allow to duplicate**

In [ ]:
Mylistdup=["gaurav","gaurav","prahadeesh","kishor","kishor"]
print(Mylistdup)

['gaurav', 'gaurav', 'prahadeesh', 'kishor', 'kishor']

**To find the length of the list using pre bild function len()**

In [ ]:
Mylistdup=["gaurav","gaurav","prahadeesh","kishor","kishor",]
print(len(Mylistdup))

7

**List can use multitype data**

In [ ]:
list1 =["gaurav","Bala","kishor"]
list2 =[132,4634,556.3]
list3 =[True,False,False,True]
# multitype data
list4 =["hello",123,True]
print(list1)
print(list2)
print(list3)
print(list4)

['gaurav', 'Bala', 'kishor']
[132, 4634, 556.3]
[True, False, False, True]
['hello', 123, True]

**To find a Data type of a list**

In [ ]:
list1 =["gaurav","Bala","kishor"]
print(type(list1))

<class 'list'>

**Range of Index in the list Access**

In [ ]:
# Print Indexing one
listtemp = ["gaurav","prahadeesh","kishor","Dhanush","Sankar","Hari"]
print(listtemp[0])

In [ ]:
# Print Indexing last
listtemp = ["gaurav","prahadeesh","kishor","Dhanush","Sankar","Hari"]
print(listtemp[6])

In [ ]:
# Print Indexing unknow last vaule by using negative index
listtemp = ["gaurav","prahadeesh","kishor","Dhanush","Sankar","Hari"]
print(listtemp[-1])

In [ ]:
# Print Indexing another form of negative index
a = 'qwer'
a[len(a) - 2]

'e'

In [ ]:
# Print Indexing limited range
listtemp = ["gaurav","prahadeesh","kishor","Dhanush","Sankar","Hari"]
print(listtemp[1:4])

In [ ]:
# Print Indexing starting to limited range
listtemp = ["gaurav","prahadeesh","kishor","Dhanush","Sankar","Hari"]
print(listtemp[:5])

In [ ]:
# Print Indexing starting to unknow ending
listtemp = ["gaurav","prahadeesh","kishor","Dhanush","Sankar","Hari"]
print(listtemp[0:])

In [ ]:
# Print Indexing  using negative
listtemp = ["gaurav","prahadeesh","kishor","Dhanush","Sankar","Hari"]
print(listtemp[-3:-1])

['Dhanush', 'Sankar']

**Cheak the number or str in the list using conditional**

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,0]
if 4 in list1:
  print("Yes, 4 in the list")

Yes, 4 in the list

In [ ]:
 
global_list =[12,]
for i in range(5):
  Myinput = input()
  global_list.append(Myinput)
print(global_list)

1
2
3
4
5
[12, '1', '2', '3', '4', '5']

In [ ]:
Mylist=["qqwert","wertytw","123454321"]
lenofstr = len(Mylist)
for index in range(lenofstr):
  if(Mylist[index][0] == Mylist[index][-1] and len(Mylist[index]) >= 2):
    print(Mylist[index])

wertytw
123454321

In [ ]:
list_mod = [123,"hello","new"]