<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Exercise_List_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Update Using a list index vaule**

In [ ]:
my_list2 = ["run","hello","earth"]
my_list2[1] = "new_one"
print(my_list2)

['run', 'new_one', 'earth']

**Replace a list with another variable**

In [ ]:
primary_list=["run","hello","earth","car","place"]
primary_list[1:3] = ["new_1","new_2"]
print(primary_list)

['run', 'new_1', 'new_2', 'car', 'place']

**Repace one vaule list**

In [ ]:
list1=["run","hello","earth","temp1","road"]
list1[1:3]="new1"
print(list1)

['run', 'n', 'e', 'w', '1', 'temp1', 'road']

**Add vaule using .insert() new list iterm**

In [1]:
list1=["run","hello","earth","temp1","road"]
list1.insert(3,"meow")
print(list1)

['run', 'hello', 'earth', 'meow', 'temp1', 'road']

**Extend a list**

In [3]:
list1=["run","hello","earth"]
list2=["run2","hello2","earth2"]
list1.extend(list2)
print(list1)

['run', 'hello', 'earth', 'run2', 'hello2', 'earth2']

**Add list in tuple in list**

In [ ]:
list1=["run","hello","earth"]
tuple1 = ("temp1","road")
list1.extend(tuple1)
print(list1)

['run', 'hello', 'earth', 'temp1', 'road']

**Remove value in list**

In [9]:
thislist = ["run","hello","earth"]
thislist.remove("hello")
print(thislist)

['run', 'earth']

**Access tuple**

In [10]:
tuple1 = ("run","hello","earth")
print(tuple1[1])

hello

**Pop using for remove list items**

In [ ]:
list1= ["run","hello","earth"]
list1.pop(0)
print(list1)

**pop using remove last vaule**

In [ ]:
list1= ["run","hello","earth"]
list1.pop()
print(list1)

**Delete a enter list**

In [ ]:
list1= ["run","hello","earth"]
del list1

**Clear the list content**

In [ ]:
list1= ["run","hello","earth"]
list1.clear()
print(list1)

[]