<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Introduction_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python CALSS

In [ ]:
#Ever thing in python is object
#Example a list
num = [1,2,3,4]
print(type(num))

<class 'list'>

#To Check

In [ ]:
N1= 21
print(type(N1))

boolean = True
print(type(boolean))

def fun():
    pass
print(type(fun))

<class 'int'>
<class 'bool'>
<class 'function'>

# To see all a available attributes in a class by usind a dir() for object

In [ ]:
num = [1,2,3,4,5,6,7,8]
print(dir(num))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
result  = num.__add__([9,10])
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# ID has have all the class

In [ ]:
num1 = 129
print(id(num1))
num2 = 678
print(id(num2))

94046897338880
140328757170640

# Create a Class

In [ ]:
class myclass:
    x = 6

#Create Object

In [ ]:
class myclass:
    x = 6
object1 = myclass()
print(object1.x)

6

# Basic Class for class with out constructor

In [ ]:
class car():
    pass

#create an object
honda = car()
tata = car() 

honda.model = "city"
honda.year = 2020
honda.price = 1000000

tata.model = "bolt"
tata.year = 2021
tata.price = 700000

print(tata.price)

700000

# Write a class with a constructor

In [ ]:
class car():
    def __init__(self,model,year,price):
        self.model = model
        self.year = year
        self.price= price
    def gst(self):
        self.price = int(self.price * 2.2)

Honda = car("city",2020,100000)
Toyota = car("alto",2021,50000)
Tata = car("Bolt",1992,180000)

#Creat new variable
Honda.cc = 1550

print(Honda.__dict__)
print(Toyota.__dict__)
print(Honda.price)

#Here what happen is crear a instance of a object when it was called
Honda.gst()
print(Honda.price)

{'model': 'city', 'year': 2020, 'price': 100000, 'cc': 1550}
{'model': 'alto', 'year': 2021, 'price': 50000}
100000
220000

# Super Class

In [ ]:
class car():
    def __init__(self,model,year,price):
        self.model = model
        self.year = year
        self.price= price
    def gst(self):
        self.price = int(self.price * 2.2)

#here the superclass did not mention but we all characters of parent class 
class supercar(car):
    pass

Tesla = supercar("Plade",2021,200000)
print(Tesla.__dict__)
Tesla.gst()
print(Tesla.price)

{'model': 'Plade', 'year': 2021, 'price': 200000}
440000

# Well Another example

In [ ]:
class Item:
    def Total(myparameter,x,y):
        return x * y

item1 = Item()
item1.name = "Google pixel 6 pro"
item1.price = 450000
item1.quantity = 2

print(item1.__dict__)

#Here item1 is passes to myparameter
#item1.price is passes to x
#item1.price  is passes to y
print(item1.Total(item1.price,item1.quantity))

900000
{'name': 'Google pixel 6 pro', 'price': 450000, 'quantity': 2}