<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/List_Three.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print all items in the list, one by one**

In [ ]:
mylist =["Alphabet Inc","Amazon","Berkshire Hathaway Inc","Facebook","Alibaba Group"]
for index in mylist:
  print(index)

**Print all items by referring to their index number**

In [2]:
mylist =["Air","Water","Fire","Earth",]
for index in range(len(mylist)):
  print(mylist[index])

Air
Water
Fire
Earth

**Print all items, using a while loop to go through all the index numbers**

In [2]:
mylist =["Air","Water","Fire","Earth",]
index = 0
while index < len(mylist):
  print(mylist[index])
  index += 1

Air
Water
Fire
Earth

**Sort the list alphabetically**

In [23]:
mylist =["Air","hat","glue","king","jocker","Ballon","typing","wheat"]
mylist.sort()
print(mylist)

['Air', 'Ballon', 'glue', 'hat', 'jocker', 'king', 'typing', 'wheat']

**Sort the list numerically**

In [24]:
mylist =[10,62,67,34,89,45,12,3,76,45]
mylist.sort()
print(mylist)

[3, 10, 12, 34, 45, 45, 62, 67, 76, 89]

**Sort the list descending**

In [26]:
mylist =["Air","hat","glue","king","jocker","Ballon","typing","wheat"]
mylist.sort(reverse=True)
print(mylist)

['wheat', 'typing', 'king', 'jocker', 'hat', 'glue', 'Ballon', 'Air']

**Sort the list Numerically descending**

In [25]:
mylist =[10,62,67,34,89,45,12,3,76,45]
mylist.sort(reverse=True)
print(mylist)

[89, 76, 67, 62, 45, 45, 34, 12, 10, 3]

**Case sensitive sorting can give an unexpected result**

In [29]:
mylist =["Air","hat","glue","King","jocker","ballon","typing","Wheat"]
mylist.sort()
print(mylist)

['Air', 'King', 'Wheat', 'ballon', 'glue', 'hat', 'jocker', 'typing']

**Perform a case-insensitive sort of the list**

In [30]:
mylist =["Air","hat","glue","King","jocker","ballon","typing","Wheat"]
mylist.sort(key = str.lower)
print(mylist)

['Air', 'ballon', 'glue', 'hat', 'jocker', 'King', 'typing', 'Wheat']

**Reverse the order of the list items**

In [32]:
mylist =[1,2,3,4,5,6,7,8,9]
mylist.reverse()
print(mylist)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

**Make a copy of a list with the copy() method**

In [37]:
mylist =["Air","hat","glue"]
new_list = mylist.copy()
new_list.append("dan")
print(new_list)

['Air', 'hat', 'glue', 'dan']

**Make a copy of a list with the list() method**

In [38]:
mylist =["Air","hat","glue"]
new_list = list(mylist)
new_list.append("dan")
print(new_list)

['Air', 'hat', 'glue', 'dan']

**Join two list**

In [39]:
list1=[1,2,3]
list2=[4,5,6]
print(list1 + list2)

[1, 2, 3, 4, 5, 6]

**Add a two lists using Append list2 into list1**

In [46]:
list1=[12,42,43]
list2=[44,45,66]
for index in list2:
  list1.append(index)
print(list1)

[12, 42, 43, 44, 45, 66]

**Use the extend() method to add list2 at the end of list1**

In [49]:
list1=[12,42,43]
list2=[44,45,66]
list1.extend(list2)
print(list1)

[12, 42, 43, 44, 45, 66]

**Give a n time of variable in a list and print it**

In [21]:
thislist = []
no_list = int(input(print("No of list variable")))
for index in range(no_list):
  list_input = input()
  thislist.append(list_input)
thislist.sort()
print(thislist)

No of list variable
4
temp1
temp2
temp3
temp4
['temp1', 'temp2', 'temp3', 'temp4']