<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Map().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Syntax:

In [ ]:
map(function, iterator1,iterator2 ...iteratorN)

# Using map() with a string as an iterator

In [2]:
def fun(s):
    return s.upper()
my_str = "it is a sample text to mae a string uppercase"
new_upperstring = map(fun,my_str)
print(new_upperstring)
for i in new_upperstring:
    print(i, end="")

<map object at 0x7ff445751450>
IT IS A SAMPLE TEXT TO MAE A STRING UPPERCASE

# Calculate the length of each word in the tuple:

In [ ]:
def fun(n):
    return (len(n))
x = map(fun,("tony stark","thor odionson","hulk","caption america"))
print(list(x))

[10, 13, 4, 15]

# Make new fruits by sending two iterable objects into the function:

In [ ]:
n1 = ["tony","thor","Caption",]
n2 = ["stark","odionson","america"]
def fun(n1,n2):
    return n1+n2
x = map(fun,n1,n2)
print(list(x))

['tonystark', 'thorodionson', 'Captionamerica']

#A Normal to find a sqaure in list using for loop

In [ ]:
listnum = [1,2,3,4,5,6,7,8,9]
sqrtlist = []
square= lambda x : x**2
for i in listnum:
    sqrtlist.append(square(i))
print(sqrtlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81]