<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Patten_printing_Nested_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# To print a number with 2 with dimension

In [ ]:
num = int(input("enter a number of patten lines: "))
for i in range(1,num+1):
    for j in range(1,num+1):
        print(j,end='')
    print()

enter a number of patten lines: 10
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910
12345678910

# Printing Stars '*' in Right Angle Triangle Shape


```
*
**
***
****
*****
```

In [ ]:
num = int(input(" enter a number of colume in :"))
for i  in range(1,num+1):
    for j in range(1,i+1):
        print("*",end="")
    print(end="\n")

 enter a number of colume in :5
*
**
***
****
*****

# To print a number in increaseing order

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [ ]:
num = int(input("enter a number of colum :"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j, end="")
    print(end="\n")

enter a number of colum :5
1
12
123
1234
12345

# Inverted pyramid pattern of numbers


```
1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5
```

In [ ]:
row = int(input("enter a numbers of rows"))
temp = 1
for i in range(1,row+1,-1):
    temp += 1
    for j in range(1,)