<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Patten_printing_Nested_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Printing Stars '*' in square matrix n X n
---


```
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
```

In [ ]:
n = int(input("Enter anumber of Rows and Column :")) 
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print(end="\n")

Enter anumber of Rows and Column :5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# Printing Stars '*' in Right Angle Triangle Shape



---

```
*
* *
* * *
* * * *
* * * * *
```

In [ ]:
n = int(input("Enter a number of Row and  Column :"))
for i in range(n+1):
    for j in range(i):
        print("*",end=" ")
    print(end="\n")

Enter a number of Row and  Column :5

*
* *
* * *
* * * *
* * * * *

# Printing Stars '*' in reversed Right Angle Triangle Shape
---


```
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [5]:
num = int(input("Enter a number of column :"))
for i in range(1,num+1):
    for j in range(i,num+1):
        print("*",end = " ")
    print(end = "\n")

Enter a number of column :5
* * * * *
* * * *
* * *
* *
*