<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Patten_printing_Nested_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Printing Stars '*' in square matrix n X n
---


```
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
* * * * * * 
```

In [ ]:
n = int(input("Enter anumber of Rows and Column :")) 
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print(end="\n")

#2. Printing Stars '*' in Right Angle Triangle Shape



---

```
*
* *
* * *
* * * *
* * * * *
```

In [10]:
n = 5
for i in range(1,n+1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input("Enter a number of Row and  Column :"))
for i in range(n+1):
    for j in range(i):
        print("*",end=" ")
    print(end="\n")

#3. Printing Stars '*' in reversed Right Angle Triangle Shape
---


```
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [ ]:
num = int(input("Enter a number of column :"))
for i in range(1,num+1):
    for j in range(i,num+1):
        print("*",end = " ")
    print(end = "\n")

#4. Print a Right triangle pyramid of *

```
          * 
        * * 
      * * * 
    * * * * 
  * * * * *
```

In [4]:
num = int(input("Enter a number :"))
for i in range(num+1):
    for j in range(i,num+1):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    print()

Enter a number :5

          *
        * *
      * * *
    * * * *
  * * * * *

#5. Print a Right triangle pyramid of *


```
  * * * * *  
    * * * *  
      * * *  
        * *  
          *   
```

In [8]:
num = int(input("enter a number of  column :"))
for i in range(num+1):
    for j in range(i+1):
        print(" ",end=" ")
    for i in range(i,num):
        print("*",end=" ")
    print(" ")

enter a number of  column :5
  * * * * *
    * * * *
      * * *
        * *
          *

#6. Print hill Shape triangel 


```
          *  
        * * *  
      * * * * *  
    * * * * * * *  
  * * * * * * * * * 
```

In [19]:
num = int(input("Enter a number on column: "))
for i in range(1,num+1):
    for j in range(i,num+1):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i-1):
        print("*",end=" ")
    print(" ")

Enter a number on column: 5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *