<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create a Tuple**

In [ ]:
mytuple = ["One","Two","Three","Four",]
print(mytuple)

['One', 'Two', 'Three', 'Four', 'One']

**Tuples allow duplicate values**

In [6]:
mytuple = ["One","Two","Three","Four","One"]
print(mytuple)

['One', 'Two', 'Three', 'Four', 'One']

**Print the number of items in the tuple**

In [7]:
mytuple = ["One","Two","Three","Four","One"]
print(len(mytuple))

5

**Tuple items can be of any data type**

In [8]:
tuple1 = ("One","Two","Three","Four","One")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

**What is the data type of a tuple?**

In [14]:
mytuple = list(("One","Two","Three","Four","One"))
print(type(mytuple))

<class 'list'>

**Using the tuple() method to make a tuple**

In [15]:
mytuple = tuple(("One","Two","Three","Four","One"))
print(type(mytuple))

<class 'tuple'>

**Print the second item in the tuple**

In [16]:
mytuple = ("One","Two","Three","Four","One")
print(mytuple[1])

Two

**Print the last item of the tuple**

In [17]:
mytuple = ("One","Two","Three","Four","One")
print(mytuple[-1])

One

**Return the third, fourth, and fifth item**

In [18]:
mytuple = ("One","Two","Three","Four","Five","six")
print(mytuple[2:5])

('Three', 'Four', 'Five')

**Returns the items from the beginning to, but NOT included, "kiwi"**

In [21]:
mytuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mytuple[:4])

('apple', 'banana', 'cherry', 'orange')

 **example returns the items from "cherry" and to the end**

In [22]:
mytuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mytuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

**returns the items from index -4 (included) to index -1 (excluded)**

In [24]:
mytuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(mytuple[-4:-1])

('orange', 'kiwi', 'melon')

**Check if "apple" is present in the tuple**

In [25]:
mytuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "apple" in mytuple:
  print("Yes,it contain Apple")

Yes,it contain Apple

**Convert the tuple into a list to be able to change it**

In [27]:
x = (1,2,3,4,5,6,7,8,9)
y = list(x)
y[1] = 0
x = tuple(y)
print(x)
print(type(x))

(1, 0, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

**Convert the tuple into a list, add "orange", and convert it back into a tuple**

In [28]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
x = list(mytuple)
x.append("orange")
mytuple = tuple(x)
print(mytuple)

('apple', 'banana', 'cherry', 'kiwi', 'melon', 'mango', 'orange')

**Create a new tuple with the value "orange", and add that tuple**

In [30]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
y = ("Orange",)
mytuple += y
print(mytuple)

('apple', 'banana', 'cherry', 'kiwi', 'melon', 'mango', 'Orange')

**Convert the tuple into a list, remove "apple", and convert it back into a tuple**

In [32]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
x = list(mytuple)
x.remove("apple")
mytuple = tuple(x)
print(mytuple)

('banana', 'cherry', 'kiwi', 'melon', 'mango')

In [36]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
x = list(mytuple)
del x[0]
mytuple = tuple(x)
print(mytuple)

('apple', 'cherry', 'kiwi', 'melon', 'mango')

**The del keyword can delete the tuple completely**

In [16]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
del mytuple

**Unpacking a tuple**

In [19]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
(one,two,three,four,five,six) = mytuple
print(one)
print(two)
print(three)
print(four)
print(five)
print(six)

apple
banana
cherry
kiwi
melon
mango

**Iterate through the items and print the values**

In [22]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
for i in mytuple:
  print(i)

apple
banana
cherry
kiwi
melon
mango

**Print all items by referring to their index number**

In [24]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
for i in range(len(mytuple)):
  print(mytuple[i])

apple
banana
cherry
kiwi
melon
mango

**Print all items, using a while loop to go through all the index numbers**

In [27]:
mytuple = ("apple", "banana", "cherry","kiwi", "melon", "mango")
i = 0
while i< len(mytuple) :
  print(mytuple[i])
  i += 1

apple
banana
cherry
kiwi
melon
mango

**Join two tuples**

In [28]:
mytuple1 = ("apple", "banana", "cherry","kiwi", "melon", "mango")
mytuple2 = (1,2,3,4,5,6)
print(mytuple1 + mytuple2)

('apple', 'banana', 'cherry', 'kiwi', 'melon', 'mango', 1, 2, 3, 4, 5, 6)

In [32]:
mytuple = ("apple", "banana", "cherry")
tuplemultiply = mytuple * 2
print(mytuple)

('apple', 'banana', 'cherry')

**FizzBuzz in Hackerrank**

In [14]:
n=int(input("n="))
i=1
while n > i :
  if(i % 3 == 0 and i % 5 == 0):
    print("FizzBuzz")
  elif i % 3 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)
  i += 1

n=16
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz