<a href="https://colab.research.google.com/github/prahadeeshwaran-k/Python-Learning/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

In [1]:
#A box with a name of x is denoted ia variable 
#The 10 value store in box 
x = 10 
y = "Any thing"
print(x)
print(y)

10

#Over Ride a variable x

In [3]:
#here the data is int
temp = 1234
print(temp)
#after override it becomes str
temp = "hello"
print(temp)

1234
hello

# Variable are Case-Sensitive

In [4]:
#The variable name letter start with Lower case
temp = 1234
#The variable name letter start with Upper case 
Temp = "hello"
print(Temp)

hello

# Casting the variable in specific data type

In [10]:
x = int(67)
y = float(586.005)
z = str(743)
print(type(x), x)
print(type(y), y)
print(type(z), z)

<class 'int'> 67
<class 'float'> 586.005
<class 'str'> 743

#Variable names is acceptable

In [12]:
#Full lowercase
mymark = 678

#First letter Caps
Mymark = 548 

#letter with underscores 
My_Mark = 765

#starting with underscores 
_my_mark = 633

#Full Uppercase 
MYMARKS = 754

#Letter with numbers
Mymarks2021 = 789

#Variable names is not - acceptable

In [ ]:
#Start with number
007mymark = 124

#Start with Special Characters 
%mymark = 436

#letter with hi fen 
my-mark = 875

#letter with space
my mark =974